.card-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    padding:10px;
    height: 135px;
    width: 254px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    justify-content: left;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .card-description {
    color: #555;
  }
  .card-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .icon {
    font-size: 20px;
    margin-right: 5px;
  }

  .card-txt{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  p{
    padding-top: 20px;
    padding-left: 10px;
  }
  h2{
    margin-top: 0%;
    padding-left: 10px;
  }

  h6{
    
   margin-top: -8px;
   padding-left: 10px;
  }
 
  
  .card-body{
    justify-content: left;
    padding: 0%;
  }

  .img{
    background-size: cover;
    width: 300px;
  }

  .over{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

 